
$font1: 'Montserrat', sans-serif;
$font2: 'Nunito Sans', sans-serif;

$yellow: #C4913F;
$lightBrown: #FFF6E7;
$blue: #275692;
$darkBlue: #183459;
// $dark: #0C1A2C;
$textColor: #565656;    
$gray: #F8F8F8;
$gradient: linear-gradient(90.24deg, #295A99 0.11%, #0B1829 99.69%), #FF355A;


$dark: #151d38;
$bg-dark: #211f3c;
$white: #ffffff;
$white-80: #ffffffcc; 
$white-30: #ffffff4d; 
$blue: #44baff;
$purple: #7141b1;
$blue2: #262051;
$gray: #f8f8f8;